body{
    display: flex;
	flex-direction: column;
    align-content: center;
    align-items: center;
	margin: 160px 0 150px 0;
	background-image: url("../imgs/bordes.png");
	background-size: 100% 100%;
}

#contenido {
	background-color: #fff8f0;
	font-family: 'Times New Roman', serif;
	font-size: 16px;
	width: 70%;
}

header{
	height: 200px;
	color: #5a3e36;
	font-family: 'Georgia', serif;
	padding: 0;
	font-size: 36px;
	background-image: url("../imgs/guesteaus.png");
	background-position-y: 600px;
	background-size: 1335px;
	border-radius: 5px;	
}

header #logo{
	height: 150px;
	width: 200px;
	position: absolute;
	padding: 20px;
}

header h1{
	height: 200px;
    text-align: center;
    font-size: 36px;
	display: flex;
	align-items: center;
    justify-content: center;
	padding-top: 0;
	margin: 0;
    color: #5a3e36;
	text-shadow: 2px 2px 4px #ffffff;
	
}

nav{
	background-color: #a77e58;
	color: #ffffff;
	margin-top: 10px;
	border-radius: 5px;
}

nav ul{
	padding: 10px;
	height: 40px;
	display: flex;
	align-items: center;
}

nav ul li{	
	display: inline;	
}

nav ul li a{
	background-color: #a77e58;
	color: #ffffff;
	font-family: 'Helvetica', sans-serif;
	font-size: 18px;
	text-decoration: none;
	margin: 20px;
	transition: 0.3s;
}

nav ul li a:hover{
	background-color: #a77e58;
	color: #5a3e36;
	border: #5a3e36 1px solid;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	transition: 0.3s;
}

main {
	background-color: #fff8f0;
	color: #5a3e36;
	font-family: 'Georgia', serif;
	font-size: 18px;
	padding: 0 5px 0 15px;
	box-sizing: border-box;
}

main .menu-estrella{
	width: 37%;
	float: left;
	box-sizing: border-box;
}

main #sidebar{
	float: right;
	width: 30%;
	padding: 20px;
	background-color: #ecdcc6;
	color: #5a3e36;
	font-family: 'Georgia', serif;
	font-size: 18px;
	border-radius: 5px;
	box-sizing: border-box;
}

[data-alergenos="lacteos"]{
	color: #aeb2c4;
}
[data-alergenos="gluten"]{
	color: #be640f;
}
[data-alergenos="huevos"]{
	color: #cca216;
}
[data-alergenos="moluscos"]{
	color: #993b94;
}
[data-alergenos="nueces"]{
	color: #974643;
	text-decoration: underline;
}
[data-alergenos="apio"]{
	color: #196d27;
}
[data-alergenos="mariscos"]{
	color: #19afd4;
}
[data-alergenos="ajo"]{
	color: #d8011e;
}
[data-alergenos="mariscos ajo"]{
	color: #ca91ff;
}
[data-alergenos="nueces mariscos"]{
	color: #ff006a;
	text-decoration: underline;
}
[data-alergenos="gluten huevos lacteos"]{
	color: #7ebe16;
}
[data-alergenos="gluten lacteos"]{
	color: #5800fc;
}
[data-alergenos="huevos lacteos"]{
	color: #0c5f85;
	text-decoration: underline;
	
}


.menu-estrella li:hover{
	font-weight: bold;
}


footer{
	background-color: #5a3e36;
	color: #ecdcc6;
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	text-align: center;
	padding: 20px 0 10px 0;
	border-radius: 5px;
	clear:both;
}
footer a{
	color: #ecdcc6;
	text-decoration: none;
	padding: 0 10px;
	font-size: 16px;
	transition: 0.3s;
	
}

footer .copyright{
	border-top: 1px solid #271d0a; 
  	padding-top: 20px;
}

footer a:hover{
	color: #fff8f0;
	border: #fff8f0 1px solid;
	border-radius: 5px;
	padding: 10px;
	transition: 0.3s;
}
